@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    height: 100%;
    font-family: Work sans, sans-serif;
}
.h-17{
    height: 4.1875rem;
}
.bg-hero{
    background-image: url(../images//bg-1.svg);
    background-repeat: no-repeat
}
.btn-hero{
    width: 231px;
    height: 58px;
    border-radius: 29px;
    left: 50%
}
.bg-half{
  background: linear-gradient(to top, black 70%, #eebece 30%);
}
.mask{
  width: 621px;
  height: 194px;
  padding : 25px 0 29px 25px;
  overflow: hidden;
  display: inline-flex;
}
.bg-path{
  background-image: url(../images//path-3.svg);
  background-position: 87% 55%;
  background-repeat: no-repeat
}
@media (max-width: 376px){
  .bg-path{
    background-image: none;
  }
}
.pb{
  padding-bottom: 201px;
  -moz-padding-bottom : 201px;
  -webkit-padding-after : 203px
}
@media (max-width: 376px){
  .pb{
    padding-bottom: 0;
    -moz-padding-bottom : 0;
    -webkit-padding-after : 0
  }
}
.card {
  width: 247px;
  height: 140px;
  background: #333;
  color: #fff;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}